fastapi>=0.115.0
uvicorn[standard]>=0.30.0
jinja2>=3.1.4
python-multipart>=0.0.9
teradatagenai>=20.0.0.7
teradataml>=20.0.0.10
teradatasql>=20.0.0.60
teradatasqlalchemy>=20.0.0.9
unstructured-client==0.46.2
argon2-cffi>=23.1.0
cryptography>=43.0.0
packaging>=24.0
