{% include "partials/evs_connect_panel.html" %}

<div id="section-create-content" hx-swap-oob="innerHTML">
  {% include "partials/create_panel.html" %}
</div>

<div id="section-chat-content" hx-swap-oob="innerHTML">
  {% include "partials/chat_panel.html" %}
</div>

<div id="section-eval-content" hx-swap-oob="innerHTML">
  {% include "partials/precision_eval_panel.html" %}
</div>

<div id="section-admin-content" hx-swap-oob="innerHTML">
  {% include "partials/bookrag_admin_panel.html" %}
</div>
